body {
  background-color: #e9ecef;
}
.addnew {
  width:auto;
}
.add-section {
  margin-bottom:10px;
}
#create {
  padding: 10px;
}
.edit-btn {
  width:100px;
}
.new-container {
  width:150px;
  padding:10px;
}
.view-section {
  margin-bottom:20px;
}
